.btn {
	padding: 10px 20px;
	border: 2px solid;
	border-radius: 5px;
	background-color: #000;
	color: #FFF;
	transition: 0.35s;
	text-decoration: none;
	display: inline-block;
	margin-top: 15px;
}

.btn:hover {
	transition: 0.35s;
	color: #000;
	border-color: #000;
	background-color: transparent;
}