
.navbar {
      font-size: 24px;
      background-color: rgba(44, 48, 46, 0.7);
      border-radius:0px 0px 10px 10px;
      height: 50px;
      text-align: center;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
	  margin-inline-start: 0px;
	  margin-inline-end: 0px;
}
 
.navbar li {
   display:inline;
}

.navbar ul{
	margin-block-start: 0;
	margin-block-end: 0;
	padding-bottom: 10px;
	padding-top: 10px;
	color: white;
}


.navbar a:link {
   color:white;
   padding-left: 30px;
   padding-right: 30px;
   padding-top:0px; 
   padding-bottom: 10px;
   text-decoration:none;
   font:bold;
   font-family:roboto, sans-serif;
   text-transform:uppercase;
   text-shadow: 2px 2px 2px #2C302E;
}

.navbar a:visited {
	color:unset;
	text-shadow: unset;
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .navbar {
    width: 300px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .navbar {
    width: 300px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .navbar {
    width: 540px;
    font-size: 16px;
  }